.jumbotron.py-3
  .row
    .col-12
      %a{ href: '#introduction' } Introduction
    .col-12
      %a{ href: '#creating_forms' } Creating Forms
    .col-12
      %a{ href: '#embedding_forms' } Embedding Forms
    .col-12
      %a{ href: '#adding_metadata' } Adding Metadata
    -# - if !current_user.plan_active
    -#   .col-12.mt-3
    -#     %a.font-weight-bold{ href: edit_user_registration_path } Upgrade to Business Plan
