%footer
  .container
    .border-top.pb-5
      .row.mt-3.pt-5
        .col-12
          %p
            %span.font-weight-bold Links: 
            %span.pl-3
              %a{:href => articles_path} Articles
            %span.pl-3
              %a{:href => podcasts_path} Podcast Episodes
        .col-12
          %p
            %span.font-weight-bold Socials: 
            %span.pl-3
              %a{:href => "https://www.instagram.com/coachmarksing/", target: '_blank'} 
                Instagram
            %span.pl-3
              %a{:href => "https://www.youtube.com/channel/UCybix9PZoDgcyyt5hNxPLuw", target: '_blank'}
                YouTube
        .col-12
          %p
            %span.font-weight-bold Legal: 
            %span.pl-3
              %a{:href => "/terms"} Terms of Use
            %span.pl-3
              %a{:href => "/privacy"} Privacy Policy
            %span.pl-3
              %a{:href => "/content-licensing"} Content Licensing Agreement
        .col-12
          %p
            %span.font-weight-bold Contact:
            %span.pl-3 
              %a{ href: 'mailto:coachmarksing@gmail.com' } 
                Email Me
      .row.text-center.mt-3
        .col-lg-12
          %h6.font-weight-bold made with &#10084
          %p All Rights Reserved © 2022



-# %footer
-#   .container
-#     .border-top.pb-5
-#       .row.mt-3
-#         .col-12.col-md-6
-#           %a
-#             = inline_svg_tag 'logo_dark.svg', width: 130
-#           %p
-#             Mark Sing Coaching is the #1 Source For Successful Lead Magnets On Demand.
-#           %p
-#             All Rights Reserved © 2020
-#         .col-12.col-md-2.mt-md-5
-#           %h4.font-weight-bold.my-3 Quick Links
-#           %ul.p-0
-#             %li
-#               %a{:href => "/terms"} Terms of Use
-#             %li
-#               %a{:href => "/privacy"} Privacy Policy
-#             %li
-#               %a{:href => "/content-licensing"} Content Licensing Agreement
-#         .col-12.col-md-2.mt-md-5
-#           %h4.font-weight-bold.my-3 Resources
-#           %ul.p-0
-#             %li
-#               %a{:href => "/"} Home
-#             %li
-#               %a{:href => "/articles"} Articles
-#         .col-12.col-md-2.mt-md-5
-#           %h4.font-weight-bold.my-3 Contact Us
-#           %ul.contact.p-0
-#             %li 
-#               %a{ href: 'tel:+1-201-834-6550‬' } 
-#                 ‪+1 (201) 834-6550‬
-#             %li us@123leadmagnets.com
-#             %li www.123LeadMagnets.com
-#             %li
-#               190 Wadsworth ave, NY, USA
-#       .row
-#         .col-lg-12
-#           %h6.font-weight-bold made with &#10084; in NYC