.restricted-article.p-3
  .restricted-article-border.text-center.p-5
    %h5.font-weight-bold This content is restricted.
    %p.mb-3
      You may access this content by purchasing the 
      %a.font-weight-bold{ href: '/online-business-guide' }
        Website Development kit.
    %a.font-weight-bold{ href: '/online-business-guide' }
      .btn.btn-outline-primary
        visit
