.container
  .row.align-content-center.py-3
    .col-10
      .mb-3
        .badge.badge-primary NEW
        %h1.super-bold Custom Landing Page
        %p
          for: 
          %span.font-weight-bold= @lead_magnet.title

.container
  .row
    .col-12
      = render '/lead_capture_tools/form'
