@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

$font-primary: 'Montserrat', sans-serif;

$darkThemeColor: #121212;

$primary: #fa5f76;
$primary: #ED6F5F;
$secondary: #FFCE0F;
$secondary: #f4daa3;
$tertiary: #446CFF;

$black: #363431;

$navy: #1C205C;
$green: #1dd14d;

$brand-off-white: #e8e4e6;
$brand-white: #fffffe;
$light-primary: rgb(226, 255, 242);
$gray: #F9F9F9;

$black: #363636;