.row 
  .col-12.col-md-6
    %a{ href: '' }
      %h2.my-3.font-weight-bold 12 Week Coaching
    %p Didn't set this up yet.
    = image_tag 'course_coaching.jpg', class: 'img-fluid'
  .col-12.col-md-6
    %a{ href: '/courses/video-anthology/modules/what-women-are-attracted-to' }
      %h2.my-3.font-weight-bold Video Anthology
    %p Check this out! ^^^
    = image_tag 'course_anthology.jpg', class: 'img-fluid'
