.hero
  .hero-content
    .container
      .row.py-5
        .col-12.text-center
          %h1
            = 500
.container
  .row.mt-5
    .col-12.text-center
      That's on us... contact us to report this error.