.hero
  .hero-content
    .container
      .row.py-5
        .col-12.text-center
          %h1
            = 422
.container
  .row.mt-5
    .col-12.text-center
      Hmmmm... that didn't look right to us...