-# !!!
-# %html
-#   %head
-#     %title Map Of Tech Powered Website
-#     %link{:href => "https://www.marksingcoaching.io/icon.png", :rel => "icon"}/
-#     = csrf_meta_tags
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

-#     = stylesheet_link_tag 'application', media: 'all'
-#     -# = javascript_include_tag 'application'
-#     -# = javascript_pack_tag 'application'
-#     :css
-#       body {
-#         background: #fff;
-#         margin: 0;
-#       }

-#   %body.h-100
-#     = yield
