-# !!!
-# %html
-#   %head
-#     %link{:href => "https://www.marksingcoaching.io/icon.png", :rel => "icon"}/
-#     = csrf_meta_tags
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
-#     = render "layouts/meta_tags"

-#     = stylesheet_link_tag    'application', media: 'all'
-#     = javascript_include_tag 'application'

-#   %body{ style: "background-color: #{@landing_page.background_color};"}
-#     = yield
